table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    border: collapse;
}

thead {
    background-color: rgb(3, 168, 219);
    color: white;
}

tbody tr:nth-child(odd) {
    color: black;
    background-color: rgb(145, 219, 242);
}

td:nth-child(1),
td:nth-child(2) {
    width: 200px;
}

figure {
    margin-left: 0px;
    padding-left: 0px;
}